<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Contact Us" />
    <div class="jumbotron">
        <h3>We want to hear from you</h3>
        <p>If you have any questions or suggestions, please contact us</p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" alt="Envelope" />
            </span>
            <h5><email address="abraoastjr@gmail.com" content="Send an email"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" alt="Phone" />
            </span>
            <h5>(11) 4002-8922</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" alt="Home" />
            </span>
            <h5>Av. Juscelino Kubitschek 1000 - 03540-550 - São Paulo</h5>
        </p>
    </div>
</div>
