<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SalesFood.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <a class="navbar-brand" asp-area="Admin" asp-controller="Admin" asp-action="Index">Home</a>
                    <a class="nav-link text-light" asp-area="Admin" asp-controller="AdminFoods" asp-action="Index">Products</a>
                    <a class="nav-link text-light" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Categories</a>
                    <a class="nav-link text-light" asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">Orders</a>
                    <a class="nav-link text-light" asp-area="Admin" asp-controller="AdminSalesReport" asp-action="Index">Sales Report</a>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Sales Chart
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="AdminChart" asp-action="Index">Annual Sales</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="AdminChart" asp-action="MonthlySales" asp-route-days="30">Monthly Sales</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="AdminChart" asp-action="WeeklySales" asp-route-days="7">Weekly Sales</a>
                        </div>
                    </div>
                    <a class="nav-link text-light" asp-area="Admin" asp-controller="AdminImages" asp-action="Index">Manage Images</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div>
        <partial name="_Footer" />
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>